.summary {
  display: flex;
  flex-direction: column;
}

.summary-container {
  border: 3px solid black;
  border-radius: 10px;
  padding: 50px 80px;
}

.summary h1 {
  margin-top: 0;
  font-family: 'Ribeye', cursive;
  text-transform: uppercase;
  text-align: center;
  font-size: 55px;
  margin-bottom: 11px;
}

.summary p {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  width: 400px;
}

.summary button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px;
  margin-top: 40px;
}